@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
	--Dark-cyan: hsl(185, 75%, 39%);
	--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--Dark-grayish-blue: hsl(227, 10%, 46%);
	--Darkgray: hsl(0, 0%, 59%);
}

html {
	font-size: 62.5%;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	/* background-position: -50%; */
	font-family: "Kumbh Sans", sans-serif;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--Dark-cyan);
	background-image: url("./Profile-card-component/images/bg-pattern-top.svg"),
		url("./Profile-card-component/images/bg-pattern-bottom.svg");
	background-position: right 50vw bottom 50vh, left 50vw top 50vh;
	min-height: 100vh;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	max-width: 355px;
	min-height: 380px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	overflow: hidden;
}
.card-header {
	display: block;
}
.card-middle {
	display: inherit;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}
.img-profile {
	margin-top: -50px;
	width: 96px;
	border: 5px solid white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	object-fit: contain;
}
.card-middle span {
	margin-left: 10px;
	font-weight: 400;
}
.card-middle h1 {
	margin: 20px 0 15px 0;
}
.card-middle p {
	margin: 0px 0 40px 0;
	font-size: 1.3rem;
}
.card-footer,
.img-profile,
.card-middle {
	background-color: white;
}
.card-middle span,
p {
	color: var(--Darkgray);
}
.card-footer {
	display: flex;
	justify-content: space-around;
	padding: 25px;
	text-align: center;
}

/* 355x380 */
